.jumbotron{
  margin: 5% 20% auto 20%;
}
.oneResult{
  margin: 0px 20px 50px 20px;
}
body{
  background-image: url(https://www.total-croatia-news.com/media/k2/items/cache/4481022f2c240e105013544d6a8799a0_XL.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imgResult{
  float: left;
}
