div.item{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.resultsDisplay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
}

body{
  background-image: url(https://www.total-croatia-news.com/media/k2/items/cache/4481022f2c240e105013544d6a8799a0_XL.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#searchedItem{
  height: 300px;
  width: auto;
  text-align: right;
}
