
.results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.resultsDisplay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
}

body{
  background-image: url(https://www.total-croatia-news.com/media/k2/items/cache/4481022f2c240e105013544d6a8799a0_XL.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-row{
  margin-left: auto;
  margin-right: auto;
}
#srcTxt{
  text-align: center;
  color: white;
}
#srcImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
  color: white;
}
#searchBar{
  text-align: center;
  height: 50px;
  width: 500px;
  font-size: 25px;
  margin: auto;
}
#search{
    display: block;
    text-align: center;
}
