.signIn {
  text-align: right;
  background-color: black;
  color: White;
  height: 50px;
  width: 100px;
  position: absolute;
  top:0;
  right:0;
}
button{
  height: 50px;
  width: 100px;
  text-align: center;
  
}

#header {
  text-align: center;
  color: White;
}

body{
  background-image: url(https://www.total-croatia-news.com/media/k2/items/cache/4481022f2c240e105013544d6a8799a0_XL.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#searchBar{
  text-align: center;
  height: 100px;
  width: 500px;
  font-size: 25px;
  margin: auto;
}
